{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "styles": "./styles"
                },
                "cwd": "babelrc"
            }
        ],
        [
            "wrap-in-js",
            {
                "extensions": [
                    "css$",
                    "scss$"
                ]
            }
        ],
        [
            "inline-import-data-uri", {
                "extensions": [
                  ".jpg"
                ]
            }
          ]
    ],
    "presets": [
        "next/babel"
    ],
    "ignore": []
}